<!-- Display Homepage = Page without Login -->


<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand" href="/">TerraTex Twitch Bot<small class="versionInfo">v{{version}}</small> </a>

        <ul class="nav navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="http://forum.terratex.eu">Support / Forum</a></li>
            <li class="nav-item"><a class="nav-link" href="http://twitchtracker.terratex.eu/index.php?project=2">Bugs/Featurerequests</a></li>
            <li class="nav-item"><a class="nav-link" href="http://terratex.eu">About Us</a></li>
            <li class="nav-item"><a class="nav-link"
                                    href="http://forum.terratex.eu/index.php?legal-notice/&s=8fc843102b481cc84a098605421c6fc15cf3f956">Impressum</a>
            </li>
        </ul>
        <ul class="nav navbar-nav right">
            <li>
                <a href="{{ loginUrl }}"><img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" class="twitch-connect" href="#"></a>
            </li>
        </ul>
    </div>
</nav>
<div class="navbar-fixed-placeholder"></div>


<!--@todo: add here advertising boxes and screenshot slider-->

<!-- Element 1: Feature / Screenshot Slider - Fullwidth-->

<!-- Element 2: TerraTex Partners - 50%-->
<div class="container homeBoxes">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="card twitchStreamer">
                <div class="card-header">
                    <h5 style="float:left">TerraTex Community Streamer/Partner</h5>
                    <div style="clear:both"></div>
                </div>
                <table class="table table-hover" style="margin-bottom: 0">
                    {{#each twitchStreamer as |channelData id|}}
                        <tr>
                            <td {{#if channelData.lastState}}class="online"{{/if}}
                                onclick="window.open('http://twitch.tv/{{channelData.channel_name}}');">
                                <div class="twitchChannelName">{{channelData.display_name}}</div>
                                <div class="twitchChannelViewer">{{#if channelData.lastState}}<i class="fa fa-user"></i> {{channelData
                                .lastViewerCount}}{{else}}Offline{{/if}}</div>
                                <div style="clear: both"></div>
                                {{#if channelData.lastState}}
                                    <div class="info">{{channelData.lastGame}} - {{channelData.lastTitle}}</div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="card twitchStreamer">
                <div class="card-header">
                    <h5 style="float:left">Channels, die den Bot nutzen</h5>
                    <div style="clear:both"></div>
                </div>
                <table class="table table-hover" style="margin-bottom: 0">
                    {{#each botChannels as |channelData id|}}
                        <tr>
                            <td {{#if channelData.lastState}}class="online"{{/if}}
                                onclick="window.open('http://twitch.tv/{{channelData.channel_name}}');">
                                <div class="twitchChannelName">{{channelData.display_name}}</div>
                                <div class="twitchChannelViewer">{{#if channelData.lastState}}<i class="fa fa-user"></i> {{channelData
                                .lastViewerCount}}{{else}}Offline{{/if}}</div>
                                <div style="clear: both"></div>
                                {{#if channelData.lastState}}
                                    <div class="info">{{channelData.lastGame}} - {{channelData.lastTitle}}</div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>


<footer class="navbar navbar-fixed-bottom  navbar-dark bg-inverse" >
    <div class="center">&copy; TerraTex Twitch Bot by Geramy92 2015-2016 | <a href="/changelog/">Changelog</a> | <a href="http://twitchtracker.terratex.eu/index.php?do=roadmap&project=2">Planned Features</a></div>
</footer>