<div class="alert alert-danger">SongRequest ist noch in Entwicklung und funktioniert daher noch nicht vollständig.</div>

<div class="card" id="alias">
    <div class="card-header"><span class="font-weight-bold">Songrequest Settings</span></div>
    <div class="card-block">
        <fieldset class="form-group">
            <label for="sr_enabled">
                <input id="sr_enabled" class="switch" type="checkbox" {{#if (eq settings.enabled 1)}}checked{{/if}}
                       data-on-color="success" data-off-color="danger">
                Songrequest aktiv?
            </label>
        </fieldset>

        <!--<fieldset class="form-group">-->
        <!--<label for="sr_autoplay">-->
        <!--<input id="sr_autoplay" class="switch" type="checkbox" {{#if (eq settings.autoPlay 1)}}checked{{/if}}-->
        <!--data-on-color="success" data-off-color="danger">-->
        <!--Autoplay<br/>-->
        <!--<small class="text-muted">Autoplay: Solange keine Songrequests gesendet werden, wird die Playlist durch Songs aus der-->
        <!--Default Playlist gefüllt. Enthält diese keine Songs oder Autoplay ist aus, wird der Player nach dem-->
        <!--letzten requesteten Song angehalten. (Er muss dann aber auch manuell wieder gestartet werden)</small>-->
        <!--</label>-->
        <!--</fieldset>-->

        <fieldset class="form-group">
            <label for="sr_minViewTime">Mindest ViewTime</label>
            <input type="text" id="sr_minViewTime" class="form-control" value="{{settings.minViewTime}}"
                   required/>
            <small class="text-muted">
                Mindeste Zeit, die ein Zuschauer im Chat verbracht haben muss, um ein Song requesten zu dürfen. (in
                Minuten)
            </small>
        </fieldset>

        <fieldset class="form-group">
            <label for="sr_pointCosts">Points-Kosten</label>
            <input type="text" id="sr_pointCosts" class="form-control" value="{{settings.pointCosts}}"
                   required/>
            <small class="text-muted">
                Einem Zuschauer wird diese Anzahl an Points abgezogen, wenn der Songrequest angefordert wird.
            </small>
        </fieldset>

        <fieldset class="form-group">
            <label for="sr_showMessageInChat">
                <input id="sr_showMessageInChat" class="switch" type="checkbox"
                       {{#if (eq settings.showMessageInChat 1)}}checked{{/if}}
                       data-on-color="success" data-off-color="danger">
                Sende Chatnachricht<br/>
                <small class="text-muted">Wenn diese Option eingeschaltet ist, sendet der Bot nach einem Songwechsel den
                    Titel und Requester im Chat.
                </small>
            </label>
        </fieldset>
        <p class="text-xs-right">
            <a href="#" class="btn btn-primary" id="saveForm_songrequestSettings">Einstellungen Speichern</a>
        </p>
    </div>

</div>

<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#cardContent_DefaultPlaylist" aria-expanded="false"
         aria-controls="cardContent_DefaultPlaylist">
        <button class="btn btn-success right" id="sr_add_to_playlist">zur Playlist hinzufügen</button>
        <button class="btn btn-danger right" id="clear_default_playlist">Playlist leeren</button>
        <span class="font-weight-bold">Default Playlist</span><br/>
        <small>Songs die zu dieser Playlist hinzugefügt werden, werden zufällig abgespielt, wenn es keine Songrequest
            gibt.
            <!-- (Wenn Option dafür gesetzt ist)-->
        </small>
        <div class="clearfix"></div>
    </div>
    <ul class="list-group collapse" id="cardContent_DefaultPlaylist">
        {{#playlists}}
            {{#if (eq autoplayPlaylist 1)}}
                <li class="list-group-item">
                    <i class="fa fa-remove clickable text-red" title="Löschen" data-delete-ytid="{{youtubeID}}"></i>
                    <a target="_blank" href="https://youtube.com/watch?v={{youtubeID}}">{{title}}</a>
                </li>
            {{/if}}
        {{/playlists}}
    </ul>
</div>

<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#cardContent_NormalPlaylist" aria-expanded="false"
         aria-controls="cardContent_NormalPlaylist">
        <button class="btn btn-danger right" id="clear_request_playlist">Playlist leeren</button>
        <span class="font-weight-bold">Songrequests / Normal Playlist</span><br/>
        <small>Requested Songs werden an das Ende dieser Playlist angefügt</small>
        <div class="clearfix"></div>
    </div>
    <table class="table table-hover collapse" width="100%" id="cardContent_NormalPlaylist">
        <tr>
            <th>Optionen</th>
            <th>Requested By</th>
            <th>Song</th>
        </tr>
        {{#playlists}}
            {{#if (eq autoplayPlaylist 0)}}
                <tr>
                    <td>
                        <i class="fa fa-1x clickable fa-remove text-red" title="Löschen" data-ytid="{{youtubeID}}"></i>
                        <span class="fa-stack fa-1x fa-stack-same-line clickable" title="Blacklist Requester"
                              data-ytid="{{requestedBy}}">
                            <i class="fa fa-user fa-stack-1x"></i>
                            <i class="fa fa-ban fa-stack-1x text-red"></i>
                        </span>
                        <span class="fa-stack fa-1x fa-stack-same-line clickable" title="Blacklist Song"
                              data-ytid="{{youtubeID}}">
                            <i class="fa fa-play fa-stack-1x"></i>
                            <i class="fa fa-ban fa-stack-1x text-red"></i>
                        </span>
                    </td>
                    <td>{{requestedBy}}</td>
                    <td>
                        <a target="_blank" href="https://youtube.com/watch?v={{youtubeID}}">{{title}}</a>
                    </td>
                </tr>
            {{/if}}
        {{/playlists}}
    </table>
</div>

<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#cardContent_UserBlacklist" aria-expanded="false"
         aria-controls="cardContent_UserBlacklist">
        <span class="font-weight-bold">User Blacklist</span><br/>
        <small>Nutzer auf dieser Liste können keine Songrequests mehr durchführen.</small>
    </div>
    <ul class="list-group collapse" id="cardContent_UserBlacklist">
        {{#blacklists}}
            {{#if (eq isSong 0)}}
                <li class="list-group-item">
                    <i class="fa fa-remove clickable text-red" title="Löschen" data-name="{{nameOrID}}"></i>
                    {{nameOrID}}
                </li>
            {{/if}}
        {{/blacklists}}
    </ul>
</div>

<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#cardContent_SongBlacklist" aria-expanded="false"
         aria-controls="cardContent_SongBlacklist">
        <span class="font-weight-bold">Song Blacklist</span><br/>
        <small>Songs die hier gelistet sind, können nicht mehr requested werden.</small>
    </div>
    <ul class="list-group collapse" id="cardContent_SongBlacklist">
        {{#blacklists}}
            {{#if (eq isSong 1)}}
                <li class="list-group-item">
                    <i class="fa fa-remove clickable text-red" title="Löschen" data-id="{{nameOrID}}"></i>
                    <a target="_blank" href="https://youtube.com/watch?v={{nameOrID}}"
                       style="vertical-align:middle;">{{title}}</a>
                </li>
            {{/if}}
        {{/blacklists}}
    </ul>
</div>

<div class="modal fade" id="songrequestAddDialog" tabindex="-1" role="dialog" aria-labelledby="songrequestAddDialog"
     aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Song oder Playlist zur default Liste hinzufügen</strong>
            </div>

            <div class="modal-body">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="songrequest_add_as"
                               id="songrequest_add_as_playlist" value="playlist" checked>
                        Als Playlist hinzufügen
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="songrequest_add_as"
                               id="songrequest_add_as_song" value="song">
                        Als Song hinzufügen
                    </label>
                </div>
            </div>
            <hr/>

            <div class="modal-body">
                <fieldset class="form-group">
                    <label for="sr_link">Link oder ID der Playlist / des Songs</label>
                    <input type="text" id="sr_link" class="form-control" value=""
                           required/>
                </fieldset>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-success create">Hinzufügen</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/pages/pageSongrequest.js"/>